@model SupportSystemApp.Domain.Domain.TicketTask

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>TicketTask</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SupportGroupId" class="control-label"></label>
                <select asp-for="SupportGroupId" class ="form-control" asp-items="ViewBag.SupportGroupId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Priority" class="control-label"></label>
                <input asp-for="Priority" class="form-control" />
                <span asp-validation-for="Priority" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ScheduleStart" class="control-label"></label>
                <input asp-for="ScheduleStart" class="form-control" />
                <span asp-validation-for="ScheduleStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ScheduleEnd" class="control-label"></label>
                <input asp-for="ScheduleEnd" class="form-control" />
                <span asp-validation-for="ScheduleEnd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SupportSystemAppUserId" class="control-label"></label>
                <select asp-for="SupportSystemAppUserId" class ="form-control" asp-items="ViewBag.SupportSystemAppUserId"></select>
            </div>
            <div class="form-group">
                <label asp-for="TaskType" class="control-label"></label>
                <input asp-for="TaskType" class="form-control" />
                <span asp-validation-for="TaskType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ActualStart" class="control-label"></label>
                <input asp-for="ActualStart" class="form-control" />
                <span asp-validation-for="ActualStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ActualEnd" class="control-label"></label>
                <input asp-for="ActualEnd" class="form-control" />
                <span asp-validation-for="ActualEnd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
